<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Plantillas</h3>
    </div>

    <ul class="list-unstyled components">
        <p>Aplicaciones</p>
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Inicio</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="#">Entrada 1</a>
                </li>
                <li>
                    <a href="#">Entrada 2</a>
                </li>
                <li>
                    <a href="#">Entrada 3</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Páginas</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Página 1</a>
                </li>
                <li>
                    <a href="#">Página 2</a>
                </li>
                <li>
                    <a href="#">Página 3</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Ayuda</a>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a href="#" class="download">Dscargar</a>
        </li>
        <li>
            <a href="#" class="article">Regresar</a>
        </li>
    </ul>
</nav>
